html 
{ background-color: whitesmoke; 
 background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
 url(./im10.jpg);
 opacity: 90%;
 padding: 50px;
 background-repeat: no-repeat;
 background-size: 100%;  
}

@font-face {
  font-family: Font;
  src: url(./olympiccarriergradital.ttf);
}



header {

  text-align: center;
}

h1 {
    font-family: Font;
    font-size: 300%;
    font-style: normal;
    content: attr(data-text);
    text-align: center;
    width: calc(100% + 27px);
     line-height: 0em;
     color: white; 

}

#button2
{
  border: 10px solid pink;
  border-image-source: url(./photo-1534796636912-3b95b3ab5986.jpg);
  border-image-slice: 30 40;
  border-image-repeat: round;
  background-color: rgba(0, 0, 0, 0.975);
  font-family: Font;
  font-size: larger;
  color: #fff;
  }



#sofia {
  
  }

  #sofia {
  position: relative;
  display: inline-block;
}


/*overlay:hover::after{
  font-size: 80px;
  background-image: url('./moiirl.jpg');
  width: 100%; 
  height: 100%;
  content: '';
  position: absolute;
  left: 44%;
  background-size:194px;
  right: 0%;
  background-repeat: no-repeat;
}*/

p {
  font-family:Monospace;
  font-weight: bolder;
  text-rendering: geometricPrecision;
  font-size: 20px;
  letter-spacing: -1px;color: #444;
  color:rgb(0, 0, 0);
  text-align: center;
  text-align: justify;
  background: linear-gradient(0deg, rgba(31, 31, 31, 0.5), rgba(99, 57, 40, 0.5)), url(./brain2.png); 
  border: 5px solid pink;
  border-image-source: url(./42356339-maze-vector-illustration-of-labyrinth-can-be-used-for-wallpaper-background-book-cover-.jpg);
  border-image-slice: 30 40;
  border-image-repeat: round;
  filter: contrast(100%);
  line-height:1.4;
  filter: contrast(100%);
display: table; /* keep the background color wrapped tight */
margin-left: 150px;
margin-right: 150px; /* keep the table centered */
padding:20px;

}

p span {
background-color: rgba(255, 255, 255, 0.68);
filter: contrast(100%);
display: table; /* keep the background color wrapped tight */
margin: 20px; /* keep the table centered */
padding:50px;
}


  /* navbar */

.Nav {
font-family: Font;
top: 0;
left: 0;
width: 100%;
height: 100px;
margin: 0px;
padding: 0px;
list-style: none;
background:linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.975), rgb(103, 82, 106));
display: inline;
overflow: hidden;
font-weight: bolder;
font-size: 25px;
position: fixed; top: 0; width: 100%;
display: flex;
justify-content: space-between;
border: 15px solid pink;
border-image-source: url(./photo-1534796636912-3b95b3ab5986.jpg);
border-image-slice: 40 50;
border-image-repeat: round;
z-index: 500
}


.Nav li {
        float: left;
        display: block;
        position: relative;
        z-index: 500;
        margin: 0 10px;
}
        
    .logo2 {
    display: block;
    height: 15px;
    padding:  6px 5px;
    color: #fff;
    margin-left: -400 ; /* question about margins!!! */

      }
.Nav li a {
            padding: 8px;
            display: block;
            color: white;
            margin:8px;
            padding: 14px 16px;
            border-right: 1px solid #bbb;
            text-decoration-line: none;
          }

.Nav ul {
    position: absolute;
    left: 0;
    display: none;
    list-style: none;
    display:inline-block;

}

.Nav ul li {
    float: left;
    border-top: 1px solid #fff;
    width: 100%;
    white-space: nowrap;
  }

  .Nav ul a {
    display: block;
    height: 15px;
    padding:  6px 5px;
    color: #fff;
    text-align: left;
  }
  
  .Nav a:hover {
    text-decoration: none;
    background-color: #F86808;
  }

  body {
    text-align: center;
    background-size: 100%;
    background-position: center;
    background-color: rgb(0, 0, 0);
    margin:20px;
    margin-top: 20px;
    font-family: Font;
    color: cornsilk;
    border-style: double;
    padding: 10px;
    border-radius: 25px;
    margin-top: 90px;
    

  }

  #page2 {


  }

  h1 {
    color: rgb(0, 199, 1834);
    font-size: 2cm;
    text-shadow: 2px 0 0 rgb(7, 153, 206), -2px 0 0 rgb(215, 14, 14), 0 2px 0 rgb(121, 14, 14), 0 -2px 0 #fff, 1px 1px rgb(84, 133, 238), -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    padding: 0 0 4 5px;
    display:inline-block; /*optional */
  }


  #desc {
      color: honeydew;
      border: double;
      font-size: larger;
  }

  h2 {
    padding-left: 5cm;
    padding-right: 4.5cm;
    text-align: center;
  }



  footer {

    background-color: rgb(66, 76, 85);
    border-radius: 50%;
    height:17px;
    text-align: center;
  }


  .fa {
    padding: 15px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-style: double;
    border-color: whitesmoke;
    font-size: 40px;
    border-radius: 10%;
    
    }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-instagram {
    background: #125688;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-200%);
    position: fixed; left: 20px; width: 5%;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: fixed; left: 20px; width: 5%;
   
  }


  .fa-soundcloud {
    background: #ff5500;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(100%);
    position: fixed; left: 20px; width: 5%;

  }
